<!-- Do some link to other pages with tailwind -->
<div class="flex flex-col items-center justify-center h-150">
  <h1 class="text-4xl font-bold mb-4">Welcome to downloader</h1>
  <p class="text-lg mb-8">This app can be used to download files</p>
  <div class="flex space-x-4">
    <a
      routerLink="files"
      class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600"
      >Fichiers</a
    >
    <a
      routerLink="/downloads"
      class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-600"
      >Telechargements</a
    >
  </div>
</div>
